/** 字体导入 */
@font-face{
	font-family: "Cut the crap";
	src:url('font/Cut the crap.ttf') format(truetype);
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: Georgia,serif;
	background:#ddd;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	-webkit-font-smoothing:antialiased;

}
a{
	text-decoration: none;
	color: #555;
}
.clr{
	width: 0;
	height: 0;
	overflow: hidden;
	clear:both;
	padding: 0;
	margin: 0;
}
.st_container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	font-family: "Josefin Slab","Myriad Pro",Arial,sans-serif;
}
.st_container > input,
.st_container > a{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	bottom: 0;
	cursor: pointer;
}
.st_container > input{
	opacity: 0;
	z-index: 1000;
}
.st_container > a{
	display: inline-block;
	z-index: 10;
	font-variant: 700;
	font-size: 16px;
	background: #e23a6e;
	text-align: center;
	color: #fff;
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
}
#st_control_1,#st_control_1+a{
	left:0%;
}
#st_control_2,#st_control_2+a{
	left:20%;
}
#st_control_3,#st_control_3+a{
	left:40%;
}
#st_control_4,#st_control_4+a{
	left:60%;
}
#st_control_5,#st_control_5+a{
	left:80%;
}

.st_container input:checked + a,
.st_container input:checked:hover +a{
	background: #821134;
}
.st_container input:checked + a:after{
	content:"";
	width: 0;
	height: 0;
	overflow:hidden;
	border:20px solid transparent;
	border-bottom-color:#821134; 
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -20px;
}
.st_container input:hover + a{
	background:#AD244F;
}

/*************************************************
 * 内容
 *************************************************/
.st_scroll,.st_panel{
	width: 100%;
	height: 100%;
	position: relative;
}
.st_scroll{
	left: 0;
	top: 0;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}
.st_panel{
	background: #fff;
	overflow: hidden;
}
#st_control_1:checked ~ .st_scroll{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-o-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%);
}
#st_control_2:checked ~ .st_scroll{
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
#st_control_3:checked ~ .st_scroll{
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	transform:translateY(-200%);
}
#st_control_4:checked ~ .st_scroll{
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	transform:translateY(-300%);
}
#st_control_5:checked ~ .st_scroll{
	-webkit-transform:translateY(-400%);
	-moz-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	transform:translateY(-400%);
}
.st_desc{
	width: 200px;
	height: 200px;
	background: #fa96b5;
	position:absolute;
	left: 50%;
	top:0;
	margin-left: -100px;
	-webkit-transform:translateY(-50%) rotate(45deg);
	-moz-transform:translateY(-50%) rotate(45deg);
	-o-transform:translateY(-50%) rotate(45deg);
	-ms-transform:translateY(-50%) rotate(45deg);
	transform:translateY(-50%) rotate(45deg);
}
/** 属性选择器[]   */
[data-icon]:after{
	content: attr(data-icon);
	width: 200px;
	height: 200px;
	color:#fff;
	font-size: 90px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	-webkit-transform:rotate(-45deg) translateY(25%);
	-moz-transform:rotate(-45deg) translateY(25%);
	-o-transform:rotate(-45deg) translateY(25%);
	-ms-transform:rotate(-45deg) translateY(25%);
	transform:rotate(-45deg) translateY(25%);
	font-family: "Cut the crap";
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
}
.st_panel h2{
	color:#e23a6e;
	font-size: 54px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 50%;
	margin-top: -70px;
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
	-webkit-backface-visibility:hidden;
}
	/**
	 * 定义标题动画
	 */
	/* backwards:定义动画处于开始状态; */
#st_control_1:checked ~ .st_scroll #st_panel_1 h2,
#st_control_2:checked ~ .st_scroll #st_panel_2 h2,
#st_control_3:checked ~ .st_scroll #st_panel_3 h2,
#st_control_4:checked ~ .st_scroll #st_panel_4 h2,
#st_control_5:checked ~ .st_scroll #st_panel_5 h2{
	-webkit-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-0-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	animation:moveDown 0.6s ease-in-out 0.2s backwards;
}
/**
 * animation:不需要事件触发;
 * transform:需要事件触发;
 */
@-webkit-keyframes moveDown{
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}
@-moz-keyframes moveDown{
	0%{
		-moz-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-moz-transform:translateY(0px);
		opacity: 1;
	}
}
@-o-keyframes moveDown{
	0%{
		-o-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-o-transform:translateY(0px);
		opacity: 1;
	}
}
@-ms-keyframes moveDown{
	0%{
		-ms-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-ms-transform:translateY(0px);
		opacity: 1;
	}
}
@keyframes moveDown{
	0%{
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		transform:translateY(0px);
		opacity: 1;
	}
}
.st_panel p{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 50%;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	text-align: center;
	-webkit-backface-visibility:hidden;
	color:#8b8b8b;
	margin-top: 10px;
}

/**
 * 定义p标签动画
 */
#st_control_1:checked ~ .st_scroll #st_panel_1 p,
#st_control_2:checked ~ .st_scroll #st_panel_2 p,
#st_control_3:checked ~ .st_scroll #st_panel_3 p,
#st_control_4:checked ~ .st_scroll #st_panel_4 p,
#st_control_5:checked ~ .st_scroll #st_panel_5 p{
	-webkit-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-0-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	animation:moveUp 0.6s ease-in-out 0.2s backwards;
}
/**
 * animation:不需要事件触发;
 * transform:需要事件触发;
 */
@-webkit-keyframes moveUp{
	0%{
		-webkit-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}
@-moz-keyframes moveUp{
	0%{
		-moz-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-moz-transform:translateY(0px);
		opacity: 1;
	}
}
@-o-keyframes moveUp{
	0%{
		-o-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-o-transform:translateY(0px);
		opacity: 1;
	}
}
@-ms-keyframes moveUp{
	0%{
		-ms-transform:translateY(40px);
		opacity: 0;
	}
	100%{
		-ms-transform:translateY(0px);
		opacity: 1;
	}
}
@keyframes moveUp{
	0%{
		transform:translateY(40px);
		opacity: 0;
	}
	100%{
		transform:translateY(0px);
		opacity: 1;
	}
}
.st_color{
	background: #fa96b5;
}
.st_color .st_desc{
	background: #fff;
}
.st_color [data-icon]:after{
	color: #fa96b5;
}
.st_color h2{
	color: #fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}
.st_color p{
	color: rgba(255,255,255,0.8);
}
/**
 * 响应式
 */
@media screen and (max-width:520px){
	.st_panel h2{
		font-size: 42px;
	}
	.st_panel p{
		width: 90%;
		left:5%; 
		margin-top: 0;
	}
	.st_container > a{
		font-size: 13px;
	}
}
@media screen and (max-width: 360px){
	.st_panel h2{
		font-size: 30px;
	}
	.st_container > a{
		font-size: 10px;
	}
	.st_desc{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
	[data-icon]:after{
		font-size: 60px;
		-webkit-transform:rotate(-45deg) translateY(15%);
		-moz-transform:rotate(-45deg) translateY(15%);
		-o-transform:rotate(-45deg) translateY(15%);
		-ms-transform:rotate(-45deg) translateY(15%);
		transform:rotate(-45deg) translateY(15%);
	}
}






















